@media screen and (min-width: 760px){
    .header{
        padding: 6% 4% 9% 4%;
        width: 100%;
    }
    .firstbutton{
        width: 219px;
        height: 56px;
        font-size: 16px;
    }
    .top{
        display: flex;
        flex-direction: row;
        padding: 0 4% 0 4%;
    }
    .mobilepic{
        display: none;
    }
    main{
        padding:0;
    }
    h2{
        font-size: 56px;
        line-height: 64px;
    }
    h2 span{
        font-size: 56px;
        line-height: 64px;
    }
    .textside{
        width: 555px;
        gap: 40px;
        margin-top: 95px;
        position: relative;
        z-index: 1;
    }
    .mobilepic2{
        display: block;
        position: absolute;
        margin-right: 10%;
     } 
    .firstp{
        width: 573px;
    }
    .rkali{
        background-image: url(./asstes/Path\ 2\ \(2\).png);
        background-position: 100% -2%;
    }
    .numberside{
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 90px;
    }
    .bluebox{
        padding: 40% 13% 12% 12%;
        width: 89%;
        bottom: -430px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .boy{
        top: -28%;
    }
    .footer{
        height: 640px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 69% 4% 10% 4%;
        width: 100%;
    }
    .cp{
        margin-left: 25px;
    }
    .imgside{
        padding: 0 0 0 0;
    }
    .firstp{
        width: 340px;
    }
}

@media screen and (min-width: 1430px){
    .header{
        padding: 4% 12% 5% 12%;
    }
    .top{
        padding: 0 12% 0 11%;
    }
    main{
        display: flex;
        padding:0 0 1% 0;
    }
    .numberside{
        flex-direction: column;
        align-items: center;
        gap: 63px;
    }
    .box{
        flex-direction: start;
        align-items: start;
        gap: 5px;
    }
    .mobilepic2{
        height: 600px;
        margin-top: 100px;
    }
    .bluebox{
        flex-direction: row;
        padding: 9% 1% 5.5% 20%;
        width: 76%;
        margin-left: 11.5%;
        bottom: -300px;
    }
    .boy{
        height: 600px;
        width: 375px;
        top: -8.3%;
    }
    .texts{
        width: 350px;
        padding: 0;
        margin-left: 40%;
    }
    h3{
        text-align: start;
        font-size: 48px;
    }
    .secondp{
        text-align: start;
        font-size: 20px;
        line-height: 32px;
    }
    h4{
        text-align: start;
    }
    h5{
        text-align: start;
    }
    .footer{
        padding: 20% 7% 0% 10%;
        height: 640px;
    }
}


